/* Coolors Exported Palette - coolors.co/00a8c6-40c0cb-f9f2e7-aee239-8fbe00 */

/* HSL */
$color1: hsla(189%, 100%, 39%, 1);
$color2: hsla(185%, 57%, 52%, 1);
$color3: hsla(37%, 60%, 94%, 1);
$color4: hsla(78%, 74%, 55%, 1);
$color5: hsla(75%, 100%, 37%, 1);

/* RGB */
$color1: rgba(0, 168, 198, 1);
$color2: rgba(64, 192, 203, 1);
$color3: rgba(249, 242, 231, 1);
$color4: rgba(174, 226, 57, 1);
$color5: rgba(143, 190, 0, 1);