/* Coolors Exported Palette - coolors.co/f8f4d7-f4dec2-f4b36c-e98977-f2b4a8 */

/* HSL */
$color1: hsla(53%, 70%, 91%, 1);
$color2: hsla(34%, 69%, 86%, 1);
$color3: hsla(31%, 86%, 69%, 1);
$color4: hsla(9%, 72%, 69%, 1);
$color5: hsla(10%, 74%, 80%, 1);

/* RGB */
$color1: rgba(248, 244, 215, 1);
$color2: rgba(244, 222, 194, 1);
$color3: rgba(244, 179, 108, 1);
$color4: rgba(233, 137, 119, 1);
$color5: rgba(242, 180, 168, 1);