/* Coolors Exported Palette - coolors.co/ffffff-cbe86b-f2e9e1-1c140d-cbe86b */

/* HSL */
$color1: hsla(0%, 0%, 100%, 1);
$color2: hsla(74%, 73%, 66%, 1);
$color3: hsla(28%, 40%, 92%, 1);
$color4: hsla(28%, 37%, 8%, 1);
$color5: hsla(74%, 73%, 66%, 1);

/* RGB */
$color1: rgba(255, 255, 255, 1);
$color2: rgba(203, 232, 107, 1);
$color3: rgba(242, 233, 225, 1);
$color4: rgba(28, 20, 13, 1);
$color5: rgba(203, 232, 107, 1);