/* Coolors Exported Palette - coolors.co/d1e751-ffffff-000000-4dbce9-26ade4 */

/* HSL */
$color1: hsla(69%, 76%, 61%, 1);
$color2: hsla(0%, 0%, 100%, 1);
$color3: hsla(0%, 0%, 0%, 1);
$color4: hsla(197%, 78%, 61%, 1);
$color5: hsla(197%, 78%, 52%, 1);

/* RGB */
$color1: rgba(209, 231, 81, 1);
$color2: rgba(255, 255, 255, 1);
$color3: rgba(0, 0, 0, 1);
$color4: rgba(77, 188, 233, 1);
$color5: rgba(38, 173, 228, 1);