/* Coolors Exported Palette - coolors.co/d1f2a5-effab4-ffc48c-ff9f80-f56991 */

/* HSL */
$color1: hsla(86%, 75%, 80%, 1);
$color2: hsla(69%, 88%, 84%, 1);
$color3: hsla(29%, 100%, 77%, 1);
$color4: hsla(15%, 100%, 75%, 1);
$color5: hsla(343%, 88%, 69%, 1);

/* RGB */
$color1: rgba(209, 242, 165, 1);
$color2: rgba(239, 250, 180, 1);
$color3: rgba(255, 196, 140, 1);
$color4: rgba(255, 159, 128, 1);
$color5: rgba(245, 105, 145, 1);