/* Coolors Exported Palette - coolors.co/df740c-ffe64d-e6ffff-6fc3df-0c141f */

/* HSL */
$color1: hsla(30%, 90%, 46%, 1);
$color2: hsla(52%, 100%, 65%, 1);
$color3: hsla(180%, 100%, 95%, 1);
$color4: hsla(195%, 64%, 65%, 1);
$color5: hsla(215%, 44%, 8%, 1);

/* RGB */
$color1: rgba(223, 116, 12, 1);
$color2: rgba(255, 230, 77, 1);
$color3: rgba(230, 255, 255, 1);
$color4: rgba(111, 195, 223, 1);
$color5: rgba(12, 20, 31, 1);